In [42]:
import pandas as pd
import numpy as np

In [43]:
path = r"F:/engi_books/sem5/mi/UE18CS303_Assignment/Assignment3/LBW_Dataset.csv"
df=pd.read_csv(path)
df

,Community,Age,Weight,Delivery phase,HB,IFA,BP,Education,Residence,Result
0,1,21.0,42.0,1.0,9.2,1,1.375000,5.0,1.0,0
1,1,21.0,NaN,1.0,8.8,1,1.500000,5.0,1.0,0
2,1,21.0,NaN,1.0,9.2,1,2.125000,5.0,1.0,0
3,1,21.0,NaN,1.0,8.0,1,1.375000,5.0,1.0,0
4,1,24.0,33.0,1.0,9.3,1,1.571000,5.0,1.0,0
5,1,26.0,35.0,1.0,9.2,1,1.571429,5.0,1.0,0
6,4,26.0,31.0,1.0,NaN,1,1.625000,5.0,1.0,0
7,1,22.0,30.0,1.0,NaN,1,NaN,NaN,1.0,0
8,4,17.0,30.0,1.0,9.0,0,1.375000,5.0,1.0,0
9,3,35.0,NaN,1.0,9.9,1,1.571429,5.0,1.0,0
10,3,24.0,38.0,1.0,NaN,0,NaN,5.0,1.0,0
11,1,21.0,32.0,1.0,NaN,0,NaN,5.0,1.0,0
12,4,20.0,NaN,1.0,NaN,0,NaN,5.0,2.0,0
13,3,38.0,33.0,1.0,10.0,0,1.571429,5.0,1.0,0
14,3,20.0,NaN,1.0,8.9,0,1.714286,5.0,2.0,0
15,3,23.0,39.0,1.0,9.0,1,1.375000,5.0,1.0,0
16,1,25.0,45.0,2.0,NaN,0,NaN,5.0,1.0,0
17,1,21.0,40.0,NaN,NaN,0,NaN,5.0,1.0,0
18,3,NaN,40.0,NaN,9.0,1,NaN,NaN,1.0,0
19,1,NaN,NaN,1.0,9.6,0,1.200000,5.0,1.0,0
20,3,26.0,NaN,1.0,NaN,0,5.500000,5.0,1.0,0
21,1,27.0,NaN,1.0,8.0,1,1.571429,5.0,NaN,0
22,1,21.0,NaN,1.0,9.4,1,1.500000,5.0,NaN,0
23,4,24.0,NaN,1.0,9.0,0,1.661538,5.0,1.0,0
24,1,24.0,49.0,1.0,8.9,1,1.333333,5.0,1.0,1
25,1,NaN,40.0,1.0,8.7,1,1.714286,5.0,1.0,1
26,1,24.0,40.0,1.0,9.5,1,1.714286,5.0,1.0,1
27,1,26.0,45.0,1.0,9.0,1,1.375000,5.0,1.0,1
28,1,24.0,48.0,1.0,9.6,1,1.571429,5.0,1.0,1
29,1,28.0,60.0,1.0,9.0,1,1.375000,5.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...
66,1,21.0,50.0,1.0,9.2,1,1.625000,5.0,1.0,1
67,1,21.0,43.0,1.0,10.2,1,1.571429,5.0,1.0,1
68,3,24.0,40.0,1.0,9.3,1,1.375000,5.0,1.0,1
69,3,23.0,44.0,1.0,10.4,1,1.375000,5.0,1.0,1
70,3,26.0,44.0,1.0,11.0,1,1.571429,5.0,1.0,1
71,1,29.0,56.0,1.0,8.4,1,1.571429,5.0,1.0,1
72,1,23.0,60.0,1.0,10.0,1,1.375000,5.0,2.0,1
73,3,26.0,40.0,1.0,11.0,1,1.222222,5.0,2.0,1
74,1,25.0,50.0,1.0,5.9,1,1.428571,5.0,2.0,1
75,1,24.0,43.0,1.0,9.0,1,1.666667,5.0,2.0,1
76,3,26.0,63.0,1.0,8.9,1,1.375000,5.0,2.0,1
77,1,20.0,46.0,1.0,9.0,1,1.714286,5.0,1.0,1
78,3,20.0,43.0,1.0,9.2,1,1.375000,5.0,1.0,1
79,3,24.0,60.0,1.0,9.2,1,1.714286,5.0,1.0,1
80,4,21.0,48.0,1.0,9.2,1,1.375000,5.0,1.0,1
81,3,23.0,39.0,1.0,NaN,0,NaN,5.0,1.0,1
82,3,24.0,40.0,1.0,NaN,0,NaN,5.0,1.0,1
83,3,21.0,43.0,1.0,9.0,1,1.375000,5.0,1.0,1
84,1,26.0,44.0,1.0,NaN,0,NaN,5.0,1.0,1
85,1,25.0,52.0,1.0,NaN,0,NaN,5.0,1.0,1
86,3,27.0,45.0,1.0,NaN,0,1.500000,5.0,1.0,1
87,3,27.0,42.0,1.0,NaN,0,NaN,5.0,1.0,1
88,3,21.0,48.0,1.0,NaN,0,NaN,5.0,1.0,1
89,1,24.0,40.0,1.0,NaN,0,NaN,5.0,1.0,1
90,3,25.0,49.0,1.0,9.1,0,1.571429,5.0,1.0,1
91,3,21.0,55.0,1.0,9.0,0,1.375000,5.0,1.0,1
92,3,24.0,39.0,2.0,8.4,0,1.500000,5.0,1.0,1
93,3,NaN,50.0,NaN,NaN,0,1.375000,NaN,1.0,1
94,1,NaN,38.0,NaN,NaN,0,NaN,5.0,1.0,1
95,3,21.0,50.0,1.0,9.0,1,1.375000,5.0,1.0,1

In [44]:
df.describe()

,Community,Age,Weight,Delivery phase,HB,IFA,BP,Education,Residence,Result
count,96.000000,89.000000,85.000000,92.000000,77.000000,96.000000,81.000000,93.0,94.000000,96.000000
mean,2.177083,23.752809,45.129412,1.021739,9.076623,0.687500,1.725189,5.0,1.138298,0.750000
std,1.213909,3.321011,8.215532,0.146630,0.788052,0.465946,1.449447,0.0,0.347063,0.435286
min,1.000000,17.000000,30.000000,1.000000,5.900000,0.000000,1.200000,5.0,1.000000,0.000000
25%,1.000000,21.000000,40.000000,1.000000,8.900000,0.000000,1.375000,5.0,1.000000,0.750000
50%,2.500000,24.000000,43.000000,1.000000,9.000000,1.000000,1.500000,5.0,1.000000,1.000000
75%,3.000000,26.000000,50.000000,1.000000,9.200000,1.000000,1.661538,5.0,1.000000,1.000000
max,4.000000,38.000000,65.000000,2.000000,11.000000,1.000000,13.875000,5.0,2.000000,1.000000

In [45]:
# drop any row with more than 7 nans
df=df.dropna(thresh=7)
df.describe()

,Community,Age,Weight,Delivery phase,HB,IFA,BP,Education,Residence,Result
count,93.000000,89.000000,82.000000,92.000000,76.000000,93.000000,80.000000,92.0,91.000000,93.000000
mean,2.172043,23.752809,45.219512,1.021739,9.077632,0.698925,1.729567,5.0,1.142857,0.752688
std,1.221400,3.321011,8.291040,0.146630,0.793238,0.461212,1.458053,0.0,0.351866,0.433788
min,1.000000,17.000000,30.000000,1.000000,5.900000,0.000000,1.200000,5.0,1.000000,0.000000
25%,1.000000,21.000000,40.000000,1.000000,8.900000,0.000000,1.375000,5.0,1.000000,1.000000
50%,2.000000,24.000000,43.000000,1.000000,9.000000,1.000000,1.535500,5.0,1.000000,1.000000
75%,3.000000,26.000000,50.000000,1.000000,9.200000,1.000000,1.662654,5.0,1.000000,1.000000
max,4.000000,38.000000,65.000000,2.000000,11.000000,1.000000,13.875000,5.0,2.000000,1.000000

In [46]:
# replace age nan based on community age mean
df.loc[:,'Age'] = df.groupby("Community").transform(lambda x: x.fillna(round(x.mean())))
df.describe()
print("NaNs in Age",df['Age'].isnull().values.any())

NaNs in Age False

C:\Users\Shubham\AppData\Roaming\Python\Python36\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [47]:
# replace weight nan based on weight mean
df.loc[:,'Weight']=df['Weight'].fillna(df['Weight'].mean())
df.describe()
print("NaNs in Weight",df['Weight'].isnull().values.any())

NaNs in Weight False

C:\Users\Shubham\AppData\Roaming\Python\Python36\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [48]:
# replace HB nan based on HB mean
df.loc[:,'HB']=df['HB'].fillna(df['HB'].mean())
#df.describe()
print("NaNs in HB",df['HB'].isnull().values.any())

NaNs in HB False

C:\Users\Shubham\AppData\Roaming\Python\Python36\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [49]:
# replace BP nan based on BP mean
df.loc[:,'BP'] = df['BP'].fillna(df['BP'].mean())
print("NaNs in BP",df['BP'].isnull().values.any())

NaNs in BP False

C:\Users\Shubham\AppData\Roaming\Python\Python36\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [50]:
df['Education'].fillna(5.0, inplace=True)
df['Residence']=df['Residence'].fillna(method='ffill')
df['Delivery phase']=df['Delivery phase'].fillna(method='ffill')
df.describe()

C:\Users\Shubham\AppData\Roaming\Python\Python36\site-packages\pandas\core\generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\Shubham\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Shubham\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Community,Age,Weight,Delivery phase,HB,IFA,BP,Education,Residence,Result
count,93.000000,93.00000,93.000000,93.000000,93.000000,93.000000,93.000000,93.0,93.000000,93.000000
mean,2.172043,23.72043,45.219512,1.032258,9.077632,0.698925,1.729567,5.0,1.139785,0.752688
std,1.221400,3.25164,7.779606,0.177642,0.716210,0.461212,1.351117,0.0,0.348643,0.433788
min,1.000000,17.00000,30.000000,1.000000,5.900000,0.000000,1.200000,5.0,1.000000,0.000000
25%,1.000000,21.00000,40.000000,1.000000,9.000000,0.000000,1.375000,5.0,1.000000,1.000000
50%,2.000000,24.00000,45.000000,1.000000,9.077632,1.000000,1.571429,5.0,1.000000,1.000000
75%,3.000000,26.00000,49.000000,1.000000,9.200000,1.000000,1.714286,5.0,1.000000,1.000000
max,4.000000,38.00000,65.000000,2.000000,11.000000,1.000000,13.875000,5.0,2.000000,1.000000

In [51]:
# fill remaining NaNs with forward fill
df=df.fillna(method="ffill")

In [52]:
df.describe()

,Community,Age,Weight,Delivery phase,HB,IFA,BP,Education,Residence,Result
count,93.000000,93.00000,93.000000,93.000000,93.000000,93.000000,93.000000,93.0,93.000000,93.000000
mean,2.172043,23.72043,45.219512,1.032258,9.077632,0.698925,1.729567,5.0,1.139785,0.752688
std,1.221400,3.25164,7.779606,0.177642,0.716210,0.461212,1.351117,0.0,0.348643,0.433788
min,1.000000,17.00000,30.000000,1.000000,5.900000,0.000000,1.200000,5.0,1.000000,0.000000
25%,1.000000,21.00000,40.000000,1.000000,9.000000,0.000000,1.375000,5.0,1.000000,1.000000
50%,2.000000,24.00000,45.000000,1.000000,9.077632,1.000000,1.571429,5.0,1.000000,1.000000
75%,3.000000,26.00000,49.000000,1.000000,9.200000,1.000000,1.714286,5.0,1.000000,1.000000
max,4.000000,38.00000,65.000000,2.000000,11.000000,1.000000,13.875000,5.0,2.000000,1.000000

In [53]:
def normalize(df, columns):
    result = df.copy()
    for feature_name in columns:
        max_value = df[feature_name].max()
        min_value = df[feature_name].min()
        result[feature_name] = (df[feature_name] - min_value) / (max_value - min_value)
    return result

In [54]:
normalized_df = normalize(df, ['Age','Weight','HB','BP',])
normalized_df.describe()

,Community,Age,Weight,Delivery phase,HB,IFA,BP,Education,Residence,Result
count,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.0,93.000000,93.000000
mean,2.172043,0.320020,0.434843,1.032258,0.623065,0.698925,0.041780,5.0,1.139785,0.752688
std,1.221400,0.154840,0.222274,0.177642,0.140433,0.461212,0.106597,0.0,0.348643,0.433788
min,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,5.0,1.000000,0.000000
25%,1.000000,0.190476,0.285714,1.000000,0.607843,0.000000,0.013807,5.0,1.000000,1.000000
50%,2.000000,0.333333,0.428571,1.000000,0.623065,1.000000,0.029304,5.0,1.000000,1.000000
75%,3.000000,0.428571,0.542857,1.000000,0.647059,1.000000,0.040575,5.0,1.000000,1.000000
max,4.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,5.0,2.000000,1.000000

In [55]:
normalized_df.to_csv(r'F:\Engi_Books\Sem5\MI\UE18CS303_Assignment\Assignment3\data\LBW_clean.csv',index=False)